<div class="container">
<p><%= image_tag("farm.png") %></P>
<p>
  <div class="title_text"><%= @farm.name %></div>
</p>
<p>
  <strong>Bio:</strong>
  <%= @farm.bio %>
</p>
<p>
  <strong>Location:</strong>
  <%= @farm.location %>
</p>
<p>
  <strong>Cheeses:</strong>
  <ul>
    <% @cheese.each do |cheese| %>
    <li><%= link_to cheese.name, cheese %> | <% cheese.average_rating.times do %>
          <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
          <% end %> | <%= cheese.family %>
  <% end %>
</ul>
</p>
</div>
