<p id="notice"><%= notice %></p>

<h1>Listing Cheeses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th>Style</th>
      <th>Origin</th>
      <th>Milk Source</th>
      <th>Maker</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= cheese.name %></td>
        <td><%= cheese.family %></td>
        <td><%= cheese.style %></td>
        <td><%= cheese.origin %></td>
        <td><%= cheese.milk %></td>
        <!-- I need to figure out whats going on -->
        <td><%= cheese.farm_id %></td>
        <td><%= link_to 'Show', cheese %></td>
        <td><%= link_to 'Edit', edit_cheese_path(cheese) %></td>
        <td><%= link_to 'Destroy', cheese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheese', new_cheese_path %>
