<div class="container">
  <div class ="row", "cheese-show-page-top">
    <h1>  <%= @cheese.name %> </h1>
    <%= image_tag @cheese.image.url(:medium) %>
  </div>

  <p>
    <strong>Family:</strong>
    <%= @cheese.family %>
  </p>
   <p>
    <strong>Age:</strong>
    <%= @cheese.age %>
  </p>
   <p>
    <strong>Milk:</strong>
    <%= @cheese.milk %>
  </p>
  <p>
    <strong>Origin:</strong>
    <%= @cheese.origin %>
  </p>
  <p>
    <strong>Wheels:</strong>
     Number of "likes"
  </p>
<h2>Review This cheese</h2>
<%= render '/reviews/form' %>
</div>
