<div class="container">
  <div class ="row", "cheese-show-page-top">
    <div style="background-image: url(<%= @cheese.image.url(:large) %>); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 350px; z-index: -1; position: absolute; top: 0; width: 100%;">

  </div>
</div>
<div class="subtitle_text"><%= link_to @cheese.farm.name, @cheese.farm %></div>
<div class="title_text"><%= @cheese.name %></div>

<div class="container">
  <div class="cheese_show_page_beneath_header">
     <p><%= display_cheese_type_icon %>
      <%= @cheese.family %>
    </p>
    <p>
      <strong>Average Rating</strong>
      <% @cheese.average_rating.times do %>
      <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
      <% end %>
    </p>

     <p>
      <strong>Age:</strong>
      <%= @cheese.age %>
    </p>
     <p>
      <strong>Milk:</strong>
      <%= @cheese.milk %>
    </p>

  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
    Review This Cheese
  </button>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= current_user.first_name %>s thoughts on <%= @cheese.name %></h4>
        </div>
        <div class="modal-body">
          <%= render '/reviews/form' %>
        </div>
      </div>
    </div>
  </div>

  <div class="all_reviews">
    <div class="subtitle_text">Reviews</div>
      <% @reviews.each do |review| %>
      <p><%= image_tag review.image.url(:thumb) %></p>
      <%= link_to review.user.first_name, review.user %>
      <% (review.wheel).times do %>
        <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
      <% end %>

      <p><%= link_to review.title, review %></p>
    <% end %>
  </div>


</div>
