<div class="container">
  <div class ="row", "cheese-show-page-top">
    <h2><%= link_to @cheese.farm.name, @cheese.farm %>'s </h2>
    <h1>  <%= @cheese.name %> </h1>
      <%= image_tag @cheese.image.url(:large) %>
  </div>

  <p>
    <strong>Family:</strong>
    <%= @cheese.family  %>
  </p>
   <p>
    <strong>Age:</strong>
    <%= @cheese.age %>
  </p>
   <p>
    <strong>Milk:</strong>
    <%= @cheese.milk %>
  </p>
  <p>
    <strong>Origin:</strong>
    <%= @cheese.origin %>
  </p>
  <p>
    <strong>Average Rating</strong>
    <% @cheese.average_rating.times do %>
    <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
    <% end %>

  </p>
<h2>Review This cheese</h2>
  <%= render '/reviews/form' %>
</div>

<div class="container">
  <% @reviews.each do |review| %>
    <p><%= image_tag review.image.url(:thumb) %></p>
    <%= review.user.first_name %>
      <% (review.wheel).times do %>
        <%#=image_tag("Cheese_with_little_cutted_triangular_piece_24.png") %>
        <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
      <% end %>

    <p><%= link_to review.commentary, review %></p>
  <% end %>
</div>
