<!-- Top part. kinda hacked together. plz be careful bbdoll -->
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
      <div class="container show_page_banner">
        <div style="background-image: url(<%= @cheese.image.url(:large) %>); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 350px; z-index: -1; position: absolute; top: 0px; left:0px; width: 100%;">
          <div class="title_text_padding"><h3 class="title_text"><%= @cheese.name %></h3></div>
          <div class="subtitle_text"><p class="align add_border"><%= @cheese.farm.name %></p></div>
        </div>
      </div>

<!-- area with the #rare #golden #collectable cheese information -->

  <div class="row">
    <div class="col-md-4"><% @cheese.average_rating.times do %>
            <%=image_tag "ctw-cheese-slice.png", class: "show_page_wheels" %>
          <% end %>
    </div>
    <div class="col-md-4"><p class="cheese_info"><%= display_cheese_type_icon %>   <%= @cheese.family %></p>
    </div>
    <div class="col-md-3"><p class="cheese_info"><%= @cheese.milk %></p>
    </div>
  </div>

<!-- dis just a modal yo -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= current_user.first_name %>s thoughts on <%= @cheese.name %></h4>
        </div>
        <div class="modal-body">
          <%= render '/reviews/form' %>
        </div>
      </div>
    </div>
  </div>

<!-- reviews -->

  <div class="row cheese_show_page_reviews">
    <div class="col-md-12">
      <div class="all_reviews">
        <div class="subtitle_text"><p class="cheese_show_page_review_title_header"><strong><%= @reviews.count %></strong> Total Reviews</div></p>
          <div class="row">
            <% if @reviews.exists? %>
              <% @reviews.each do |review| %>
              <div class="col-md-6 cheese_show_page_review_blocks" >
                  <div class="col-md-3"><%= image_tag review.image.url(:thumb) %>
                  </div>

                  <div class="col-md-9 cheese_show_page_review_title"><h3><%= link_to review.title, review %></h3>
                    <p><%= truncate(review.commentary, length: 100) %></p>
                  </div>


                  <% (review.wheel).times do %>
                    <%=image_tag "ctw-cheese-slice.png", class: "cheese_show_page_ratings_slice" %>
                <% end %>
                <!-- <h5>Rating</h5> -->

              </div>
            <% end %>
            <% else %>
              no reviews available
            <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- button -->

  <div class="row cheese_show_page_button_area">
    <div class="col-md-3 col-md-offset-5">
      <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
        Review This Cheese
      </button>
    </div>
  </div>

