<div class="container">
  <div class ="row", "cheese-show-page-top">
    <h1>  <%= @cheese.name %> </h1>
      <%= image_tag @cheese.image.url(:large) %>
  </div>

  <p>
    <strong>Family:</strong>
    <%= @cheese.family %>
  </p>
   <p>
    <strong>Age:</strong>
    <%= @cheese.age %>
  </p>
   <p>
    <strong>Milk:</strong>
    <%= @cheese.milk %>
  </p>
  <p>
    <strong>Origin:</strong>
    <%= @cheese.origin %>
  </p>
  <p>
    <strong>Wheels: </strong>
  <%= @average_rating %>
  </p>
<h2>Review This cheese</h2>
  <%= render '/reviews/form' %>
</div>

<div class="container">
  <% @reviews.each do |review| %>
    <p><%= image_tag review.image.url(:thumb) %></p>
    <%= review.user.first_name %>
      <% (review.wheel).times do %>
        <%=image_tag("Cheese_with_little_cutted_triangular_piece_24.png") %>
      <% end %>

    <p><%= review.commentary %></p>
  <% end %>
</div>
