<div class="user_show_page">
  <div class="row">
   <div class="col-md-4 col-md-offset-4"> <%= image_tag("ctw-wheel.png") %> </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 title_text">
        <%= @user.first_name%> <%= @user.last_name %> </div>
      </div>
      <!-- badges go here eventually!!! -->
        <div class="subtitle_text col-md-offset-3"><strong><%= @reviews.count %> </strong> Cheeses this user has reviewed</div>
            <div class="col-md-12">
              <div class="row user_show_page_table_header">
                <div class="col-md-3">Name of Cheese
                </div>
                <div class="col-md-3">Cheese Family
                </div>
                <div class="col-md-3">Number of wheels
                </div>
                <div class="col-md-3">Farm
                </div>
              </div>
              <% @reviews.each do |review| %>
              <div class="row">
                <div class="col-md-3"><%= link_to review.cheese.name, review %>
                </div>
                <div class="col-md-3"><%= review.cheese.family %>
                </div>
                <div class="col-md-3"><%= review.cheese.average_rating %> stars
                </div>
                <div class="col-md-3"><%= link_to review.cheese.farm.name, review.cheese.farm %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
