shitcoderepo.html.erb

<div class="container">
  <div class ="row" "cheese-show-page-top">
    <h1>  <%= @cheese.name %> </h1>
      <%= image_tag @cheese.image.url(:large) %>
  </div>

  <p><%= image_tag("farm.png") %></P>
  <p><strong><%= "Farm Name:" %></strong>
    <%= link_to @cheese.farm.name, @cheese.farm %></P>

    <div class="container">
  <% @reviews.each do |review| %>
    <p><%= image_tag review.image.url(:thumb) %></p>
    <%= review.user.first_name %>
      <% (review.wheel).times do %>
        <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
      <% end %>
    <p><%= link_to review.commentary, review %></p>
  <% end %>
</div>

<header>
  <div class="title">
    <h1><%= @cheese.name %></h1>
    <p><% @cheese.average_rating.times do %>
    <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
    <% end %></p>
  </div>
</header>

<main>
  <h2>Details</h2>
  <p>
    <strong>Family:</strong>
    <% if @cheese.family = "Blue" %>
      <%= image_tag("blue.png") %>
      <%= "Blue" %>
   <% elsif @cheese.family = "Fresh" %>
      <%= image_tag("fresh.png") %>
      <%= "Fresh" %>
    <% elsif @cheese.family = "Washed Rind" %>
      <%= image_tag("washed-rind.png") %>
      <%= "Washed Rind" %>
    <% elsif @cheese.family = "Firm" %>
      <%= image_tag("firm.png") %>
      <%= "Firm" %>
    <% elsif @cheese.family = "Semi Soft" %>
      <%= image_tag("semi-soft.png") %>
      <%= "Semi Soft" %>
    <% elsif @cheese.family = "Hard" %>
      <%= image_tag("hard.png") %>
      <%= "Fresh" %>
    <% elsif @cheese.family = "Soft Ripened" %>
      <%= image_tag("soft-ripened.png") %>
      <%= "Soft Ripened" %>
    <% else %>
      <%= image_tag("cheese-wheel.png") %>
      <%= "Well this seems to be a new cheese!" %>
    <% end %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= @cheese.age %>
  </p>
   <p>
    <strong>Milk:</strong>
    <%= @cheese.milk %>
  </p>
  <p>
    <strong>Origin:</strong>
    <%= @cheese.origin %>
  </p>
  <p>
    <strong>Average Rating</strong>
    <% @cheese.average_rating.times do %>
    <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
    <% end %>
  </p>
  <p>
    <strong>Similar Cheeses</p>


  <h2>Review This cheese</h2>
    <%= render '/reviews/form' %>
  </div>


</p>
</main>

<!-- more shit code -->


  <div class="row all_chees_show_info_text">
    <div class="col-md-12">
      <div class="row cheese_show_page_rating cheese_show_info">
        <div class="col-md-6">Average Rating
        <% @cheese.average_rating.times do %>
        <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row cheese_show_page_info">
    <div class="col-md-6">
      <%= display_cheese_type_icon %>
      <%= @cheese.family %>
    </div>

    <div class="col-md-6">
      <strong>Age:</strong>
      <%= @cheese.age %>
    </div>
    <div class="col-me-6">
      <strong>Milk:</strong>
      <%= @cheese.milk %>
    </div>
  </div>

  <!-- more shit code from cheese show page -->


<div class="row cheese_show_page_reviews">
  <div class="cheese_show_page_info">
    <div class="row">
      <div class="md-col-6">
        <% @cheese.average_rating.times do %>
          <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
        <% end %>
      </div>
      <div class="md-col-6 md-col-offset-6">
        <%= display_cheese_type_icon %>
        <%= @cheese.family %>
      </div>
    </div>
    <div class="row">
      <div class="md-col-6 big_words">
        <%= @cheese.age %>
      </div>
      <div class="md-col-6 big_words">
        <%= @cheese.milk %>
      </div>
    </row>
  </div>
</div>
