
<%= form_for(@review, html: { multipart: true }) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_cheese %><br>
    <%= f.text_field :name_of_cheese, value: "#{@cheese.name}" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, as: :file %>
  </div>
  <div class="field">
    <%= f.label :wheel %>
    <%= f.select :wheel, @wheel_scale %>
  </div>
  <div class="field">
    <%= f.label :commentary %><br>
    <%= f.text_area :commentary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
