<p id="notice"><%= notice %></p>

<p>
  <strong>Name of cheese:</strong>
  <%= @reviews.name_of_cheese %>
</p>


<p>
  <strong>Commentary:</strong>
  <%= @reviews.commentary %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @reviews.wheel %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
