<div class="container review_show_page">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <div class="review_show_page">
    <div class="row">
      <div class="col-md-8 col-md-offset-4 review_show_page_title">
        <p class="title_text"><%= @review.cheese.name %></p>
      </div>
    </div>
    <div class="row">
    <div class="col-md-5 col-md-offset-1"><%= image_tag @review.image.url(:medium) %>
    </div>

    <div class="col-md-6 review_show_page_paddin">
      <div class="user_name_quote"><%= link_to @review.user.first_name, @review.user %> <%= @review.user.last_name %> say's
      </div>
      <div class="subtitle_text">
        <%= @review.title %>
      </div>
      <div class="review-show-page-ratings">
        <% (@review.wheel).times do %>
          <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice_show_page") %>
        <% end %>
      </div>
      <div class="review_show_page_commentary">
        <%= @review.commentary %>
      </div>
      <div class="user_name_quote more_space"> <%= link_to "Return to cheese", @review.cheese %>
      </div>
    </div>
  </div>
</div>


